:root {
  --main-color:#81B622;
  --main-color-light:#ECF87F;
  --border-color: #3D550C;
  --white-color: #fff;
  --side-color: Green;
  --btn-hover-color: rgb(89, 156, 89);
  --plat-color: #e5e9e2;
  --anti-white: #F2F3F2;

}

/* ======== navbar aditional========= */
.container.navbar-size {
  max-height: 5.5rem;
  margin-bottom: none;
  padding-bottom: none;
  display: flex;
}
.container .logo img {
  padding-top: 30px;
  width: 12rem;
}

 #hero {
    width: 100%;
    height: 85vh;
    background: url("./img/hero1.jpg") ;
    background-size: cover;
    margin-bottom: 60px;
  }

.nav-link {
  font-size: 1.2rem;
  font-weight: 600;
}

.nav-link:hover {
  background: var(--side-color);
  border-radius: 3px;
  color: var(--white-color);
}

.nav-link.current-page{
  background: var(--main-color);
  border-radius: 10px;
}

.dropdown-item:hover {
  color: var(--white-color);
  background: var(--side-color);
  border-radius: 3px;
}

  #hero .btn-get-started {
    font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  border: 2px solid black;
  color: white;
  background: var(--border-color)
  }
  #hero .btn-get-started:hover {
    background: var(--main-color);
    color: white;
  
  }
  #hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: var(--side-color);
  }

  #hero .patient-edu-h1 {
    color: var(--plat-color);
  }
  
  #hero .patient-edu-h2 {
    color: var(--plat-color);
  }

/* =============navbar adtl end========== */

*{
    margin: 0;
    padding: 0;
}
header#header{
    background: #fff;
    opacity: 0.9;
    height: 83px;
    
}

.navbar .container-fluid{
  margin-top: -9px;

}

@media (max-width: 2480px) and (min-width: 992px){
  #main_menu .hello{
    margin-left: 140px;
  }
}
  /* ==========HIS IS HERO SECTION========== */

  /* #hero {
    margin-top: 92px;
    width: 100%;
    height: 80vh;
    background: url("./img/hero-bg.jpg") top center;
    background-size: cover;
    position: relative;
    
  } */

  #hero {
    margin-top: 83px;
    width: 100%;
    height: 82vh;
    background: url("./img/hero6.jpg") ;
    background-size: cover;
    margin-bottom: -100px;
  }


#hero .container {
  position: relative;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #2c4964 ;
}

#hero h2 {
  color: #2c4964;
  margin: 10px 0 0 0;
  font-size: 24px;
}

.rounded-4{
  background: var(--main-color);
  border-color: var(--border-color);
  color: var(--white-color);
  width: 150px;
}
.rounded-4 a{
  color: #fff;
}



@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  #hero {
    margin-bottom: 0;
    height: 100vh;
  }

  #hero .container {
    padding-bottom: 63px;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-height: 600px) {
  #hero {
    height: 110vh;
  }
}
   /* ============End of Hero Section========== */

   /*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.healthy-tips .content {
  padding: 30px;
  background: var(--main-color);
  border-radius: 25px;
  color: var(--white-color);
  }
  
  .healthy-tips .content h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
  }
  
  .healthy-tips .content p {
    margin-bottom: 30px;
  }
  
  .healthy-tips .content .more-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
  }
  
  .healthy-tips .content .more-btn i {
    font-size: 14px;
  }
  
  .healthy-tips .content .more-btn:hover {
    color: #1977cc;
    background: #fff;
  }
  
  .healthy-tips .icon-boxes .icon-box {
    text-align: center;
    border-radius: 25px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    width: 100%;
  }
  
  .healthy-tips .icon-boxes .icon-box i {
    font-size: 40px;
    color: #1977cc;
    margin-bottom: 30px;
  }
  
  .healthy-tips .icon-boxes .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 30px 0;
  }
  
  .healthy-tips .icon-boxes .icon-box p {
    font-size: 15px;
    color: #848484;
  }
  
  /*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
    text-align: center;
    border: 1px solid #d5e1ed;
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
    border-radius: 25px;
  }
  
  .services .icon-box .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: var(--main-color);
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transform-style: preserve-3d;
  }
  
  .services .icon-box .icon i {
    color: var(--main-color);

    font-size: 28px;
  }
  
  .services .icon-box .icon::before {
    position: absolute;
    content: "";
    left: -8px;
    top: -8px;
    height: 100%;
    width: 100%;
    background: var(--main-color);
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-1px);
  }
  
  .services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .services .icon-box h4 a {
    color: #2c4964;
  }
  
  .services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .services .icon-box:hover {
    background: #1977cc;
    border-color: #1977cc;
  }
  
  .services .icon-box:hover .icon {
    background: #fff;
  }
  
  .services .icon-box:hover .icon i {
    color: #1977cc;
  }
  
  .services .icon-box:hover .icon::before {
    background: #3291e6;
  }
  
  .services .icon-box:hover h4,
  .services .icon-box:hover p {
    color: #fff;
  }
  
/* ----------------------------------------
              APPOINTMENT 
---------------------------------------- */
  .appointmenty{
    background: var(--side-color);
  }

  #appointment .appointment-btn{
    background: var(--border-color);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px;
  }

  /* =========APPOINTMENT END============== */

  /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: var(--main-color);
  font-size: 14px;
  background: var(--side-color);
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: var(--main-color);
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: var(--main-color);
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: var(--main-color);
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #bfdcf7;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #1977cc;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #1c84e3;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: var(--main-color);
  color: --white-color;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: var(--main-color);
  color: var(--white-color);
  text-decoration: none;
}


/* #footer {
    margin: 0;
    color: #444444;
    font-size: 14px;
    background: #f1f7fd;
  }
  #footer .footer-top .row{
    display: flex;
   
    margin: auto;
 
  }

  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
  }
  
  #footer .footer-top .footer-contact {
    margin-left: 70px;

    margin-bottom: 10px;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
  }
  
#footer .footer-top .container{
    
    margin: auto;
    margin-left: 400px;
}

  #footer .footer-top .footer-links {
    padding: 0;
    margin: auto;

  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #1c84e3;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
   
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #1977cc;
  }
  
  #footer .copyright{
    margin: 0;
   
    margin-top: 10px;
  }
  
  .container .py-4{
    display: none;
    display: inline;
  }
  
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #1977cc;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #1c84e3;
    color: #fff;
    text-decoration: none;
  } */


  /* -------------------------------------
             LOG IN 
  ------------------------------------- */
  .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

#log-in {
  margin-top: 83px;
  width: 100%;
  height: 82vh;
  background-size: cover;
  margin-bottom: -100px;
}

#log-in-button{
  background: #1977cc;
  color: #fff;
}
#log-in form #socials .btn{
  background:  #1977cc;
  color: #fff;
}
/* ========new log in=========*/
#log-in-button{
  background: var(--main-color);
  color: var(--white-color);
}
#log-in form #socials .btn{
  background:  var(--main-color);
  color: var(--white-color);
}

/* ================= SIDE BAR =================== */
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
/* 
body {
    background: lightgray;
} */

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-default .navbar-nav #user-profile {
    height: 50px;
    padding-top: 15px;
    padding-left: 58px;
}

.navbar-default .navbar-nav #user-profile img {
    height: 45px;
    width: 45px;
    position: absolute;
    top: 2px;
    left: 8px;
    padding: 1px;
}

#wrapper {
    padding-top: 50px;
    padding-left: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

@media (min-width: 992px) {
    #wrapper {
        padding-left: 225px;
    }
}

@media (min-width: 992px) {
    #wrapper #sidebar-wrapper {
        width: 225px;
    }
}

#sidebar-wrapper {
    border-right: 1px solid #e7e7e7;
}

#sidebar-wrapper {
    margin: 0;
    padding: 0;
    top: 115px;
    z-index: 1000;
    position: fixed;
    left: 225px;
    width: 0;
    height: 100%;
    margin-left: -225px;
    overflow-y: auto;
    background: #f8f8f8;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#sidebar-wrapper .sidebar-nav {
    position: absolute;
    top: 0;
    width: 225px;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar-wrapper .sidebar-nav li {
    text-indent: 0;
    line-height: 45px;
}

#sidebar-wrapper .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #42ca5f;
}

.sidebar-nav li:first-child a {
    background: #42ca5f !important;
    color: #fff !important;
}

#sidebar-wrapper .sidebar-nav li a .sidebar-icon {
    width: 45px;
    height: 45px;
    font-size: 14px;
    padding: 0 2px;
    display: inline-block;
    text-indent: 7px;
    margin-right: 10px;
    color: #fff;
    float: left;
}

#sidebar-wrapper .sidebar-nav li a .caret {
  position: absolute;
  right: 23px;
  top: auto;
  margin-top: 20px;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse {
    list-style: none;
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    padding-left: 0;
    padding: 0;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse li i{
    margin-right: 10px;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse li{
    text-indent: 15px;
}

@media (max-width: 992px) {
    #wrapper #sidebar-wrapper {
        width: 45px;
    }
    #wrapper #sidebar-wrapper #sidebar #sidemenu li ul {
        position: fixed;
        left: 45px;
        margin-top: -45px;
        z-index: 1000;
        width: 200px;
        height: 0;
    }
}

.sidebar-nav li:first-child a {
    background: #42ca5f !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(2) a {
    background: #1b9635 !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(3) a {
    background: #1b8031 !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(4) a {
    background: #3071a9 !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(5) a {
    background: #245682 !important;
    color: #fff !important;
}

.clr {
  clear: both;
}

/* ========== TABLE ==========  */

.tbl-container{
  width: 85vw;
  border-radius: 10px;
  margin-right: 50px;
  margin-left: 50px;
  padding-bottom: 10px;
  border: #e6e6e6 1px solid;

}

/* ========CONSULTATION=========  */
.embi{
  width: 100%;
  width: 600px;
  height: 35px;
  margin-bottom: 25px;
  color: #fff;
}
div.embi .student{
  width: 150px;
  margin-right: 150px;
}

   /* ---This is the First and last name label--embi-1 --  */
/* .embi-1{
  width: 800px;
} */

div.container-cons .mb-4{
  height: 35px;
}

/* ---eto yung container ng dalawang table sa consultation -------- */
div.container-cons{
  margin-left: 25px;
  margin-right: 25px;
  width: 97.5%;
 
}

.consultation-btn{
  width: 80px;
}

/* -------------------------------------
             DASHBOARD
  ------------------------------------- */
  #wrapper {
    margin-top: 7rem;
  }
  .counter-section {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
  }
  
  .counter-box {
    text-align: center;
  }
  
  .counter-box h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin: 1rem 2rem;
    color: #333;
  }
  
  .counter {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
    background: rgb(8, 150, 8);
    border-radius: 20px;
  }

  #chart .row {
    margin-top: 5rem;
  }

  #hero.patient-edu-1 {
    background: url(img/patient_edu/health_condition.jpg) center;
    height: 120vh;
    margin-bottom: 0;
  }
  
  #hero.mission {
    background: url(img/mission-vision/mission.jpg) center;
    height: 100vh;
    margin-bottom: 0;
  }
  
  #hero.vision {
    background: url(img/mission-vision/vision.jpg) center;
    height: 120vh;
    margin-bottom: 0;
  }
  
  #hero.patient-edu-2 {
    background: url(img/patient_edu/prevention.jpg) center;
    height: 120vh;
    margin-bottom: 0;
  }
  
  #hero.patient-edu-3 {
    background: url(img/patient_edu/lifestyle.jpg) center;
    height: 120vh;
    margin-bottom: 0;
  }
  
  
  #hero.patient-edu-4 {
    background: url(img/patient_edu/rights.jpg) center;
    height: 120vh;
    margin-bottom: 0;
  }
  
  
  #hero.patient-edu-5 {
    background: url(img/patient_edu/support_group.jpg) center;
    height: 120vh;
    margin-bottom: 0;
  }